2022-2023/Sem1/RS/ProjetosGNS3/Aula06_Ex02/project-files/dynamips/c7200-jk9o3s-mz.123-8.T.bin-512.ghost
2022-2023/Sem1/RS/ProjetosGNS3/Aula06_Ex1/project-files/dynamips/c3725-advipservicesk9-mz.124-21.image-128.ghost
2022-2023/Sem1/RS/ProjetosGNS3/Aula07_Ex01/project-files/dynamips/c3725-advipservicesk9-mz.124-21.image-128.ghost
