


.ferrari {

    /*      */

color: #F7d31d;
color: #5F2423;
color: #1A1715;
color: #F60000;

color: #004146;
color: #eff5f9;
color: #004146;
color: #03bfb5;

color: #005fd8;
color: #fcfefe;
color: #050505;
color: #FF9700;

color: #1B2B5A;
color: #B2B9D1;
color: #12142d;
color: #FF0026;
}