html {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body {
    border-radius: 10px;
    background-color: #15e2e4;
    width: 50%;
    margin-top: 25%!important;
    position: relative;
    height: 50%;
    margin: auto;
    padding-bottom: 1.5vh;
}

.inputTxt {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 2vh;
}

.locais {
    text-align: center;
    margin: 1vw;
    position: relative;
}

fieldset {
  margin-top: 2.5vh;
  border: 2px solid #000000;
}

button {
    margin-top: 1vh;
}

.precoClass {
    text-align: center;
    width: 20%;
    left: 40%;
    position: relative;
    background-color: #000000;
    color: #15e2e4;
    border: 5px solid #15e2e4;
    border-radius: 10px;
}