html, body {
    background-color: rgb(61, 61, 61)!important;
    color: #ffffff!important;
    font-family: 'JetBrains Mono', monospace;
}

html {
    overflow-x: hidden;
}

body {
}

.logo {
    background-image: url("/home/frostywolf/Documents/Univ/ITW/Site05/images/logo.png");
    width: 10vw;
    height: 8vh;
    display: block;
    background-size: cover;

}

.right{
    float: right;
}

.jumbo1 {
    background-image: url("/home/frostywolf/Documents/Univ/ITW/Site05/images/bg01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin: auto;
    display: block;

}

.size0 {
    height: 40vh;
}

.size1 {
    height: 20vh;
}

.jumbo_label {
    font-size: 2em;
    position: relative;
    top: 45%;
    width: 40%;
    left: 30%;
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    text-align: center;
}

main {
    background-color: rgb(61, 61, 61);
    color: #ffffff;
    padding-top: 5vh;
    width: 70vw;
    left: 15vw;
    position: relative;
}

.division0 {
    margin-bottom: 3vh;
}

.division0 div {
    border-radius: 5px;
}

.column0{
    padding: 3vw;
    float: left;
    width: 70%;
    height: 30vh;
    text-align: center;
}

.column1{
    padding: 3vw;
    float: right;
    width: 30%;
    height: 30vh;
    background-image: url("/home/frostywolf/Documents/Univ/ITW/Site05/images/fireblade.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column2{
    top: 5vh;
    position: relative;
    padding: 3vw;
    float: left;
    width: 30%;
    height: 30vh;
    background-image: url("/home/frostywolf/Documents/Univ/ITW/Site05/images/mt09.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column3{
    top: 5vh;
    position: relative;
    padding: 3vw;
    float: left;
    width: 70%;
    height: 30vh;
    text-align: center;
}

.main_row {
    margin-top: 5vh;
    width: 80%;
    left: 12.5%;
    height: 400px;
    position: relative;
}

.part0 {
    margin-bottom: 7.5vh;
    margin-left: 5%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: rgb(34, 34, 34);
}

.prod_image {
    border-radius: 5px;
    width: 80%;
    left: 10%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    height: 40%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    top: 10vh;
    position: relative;
    clear: left;
    background-color: black;
    width: 100%;
    height: 5vh;
    text-align: center;
}